
.right-div{
  height: 90vh;
  width: 100%;
  border: 2px solid red;
  display: flex;
  flex: 4;
  background: black;
}
.left-div
{
  height: 90vh;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex: 1;
  background: black;
}
.Home-search{
  /* border: 2px solid blue; */
  height: 150px;
  width: 95%;
  background-color: #121212;
  border-radius: 10px;
  margin: 10px;
}
.home,.search{
  height: 50%;
  display: flex;
  padding: 30px;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
}
.home>a,.search>a{
  text-decoration: none;
  color: white;
}

.lib{
  /* border: 2px solid yellow; */
  height: 73vh;
  border-radius: 10px;
  margin-top: 0px !important;
  margin: 10px;
  background-color: #121212;
}
.Yourlib{
  /* border: 2px solid orange; */
  height: 60px;
  color: #ffffff;
  align-items: center;
  font-weight: bold;
  padding: 10px;
}
.butns{
  /* border: 2px solid pink; */
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.butns>button{
  background-color: #232323;
  color: white;
  margin-inline: 5px;
  border-radius: 40%;
  font-weight: bold;
}
/* the left scroll begins */
.left-scroll{
  /* border: 2px solid greenyellow; */
  height: 100%;
  overflow-y:scroll;
  color: white;
  padding: 10px;

}
::-webkit-scrollbar{
  display: none;
}
.left-scroll>button{
  color: white;
  min-height: 60px;
  /* by giving min-height the div wont change its size */
  box-sizing: border-box;
  font-weight: bold;
}
/* left scroll ends */

/* right scroll begins */
.navi{
  border: 2px solid yellow ;
  background-color: transparent;
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
}
.navi>.left-btns>button{
  background-color: #121212;
  /* border: 2px solid white; */
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.navi.righ-btns>button{
  border-radius: 50% !important;
}







.player{
  border: 3px solid greenyellow;
  background-color: purple;
  position: sticky;
  height: 110px;
}