.big-container{
  background-color: black;
}
.right-div{
  height: 95vh;
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
  flex: 4;
  background: black;
}
.left-div
{
  height: 90%;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex: 1;
  background: black;
}
.Home-search{
  /* border: 2px solid blue; */
  height: 150px;
  width: 95%;
  background-color: #121212;
  border-radius: 10px;
  margin: 10px;
}
.home,.search{
  height: 50%;
  display: flex;
  padding: 30px;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
}
.home>a,.search>a{
  text-decoration: none;
  color: white;
}

.lib{
  /* border: 2px solid yellow; */
  height: 73vh;
  border-radius: 10px;
  margin-top: 0px !important;
  margin: 10px;
  background-color: #121212;
}
.Yourlib{
  /* border: 2px solid orange; */
  height: 60px;
  color: #ffffff;
  align-items: center;
  font-weight: bold;
  padding: 10px;
}
.butns{
  /* border: 2px solid pink; */
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.butns>button{
  background-color: #232323;
  color: white;
  margin-inline: 5px;
  border-radius: 40%;
  font-weight: bold;
}
/* the left scroll begins */
.recents{
  min-height: 30px;
}
.left-scroll{
  /* border: 2px solid greenyellow; */
  height: 100%;
  overflow-y:scroll;
  color: white;
  padding: 10px;

}
::-webkit-scrollbar{
  display: none;
}
.left-scroll>button{
  color: white;
  min-height: 100px;
  /* border: 2px solid greenyellow; */
  /* by giving min-height the div wont change its size */
  box-sizing: border-box;
  font-weight: bold;
  display: flex;

}
.left-scroll>button>img{
  height: 100%;
}
.left-scroll>button>p{
  margin-left: 20px;
  text-align: start;
  padding: 15px;
}

/* left scroll ends */

/* right navigation*/
.navi{
  /* border: 2px solid yellow ; */
  background-color: transparent;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  position: sticky
}
.navi>.left-btns>button{
  background-color: #121212;
  /* border: 2px solid white; */
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.navi>.right-btns>button{
  border-radius: 100px !important;
  font-weight: bold !important;
  margin-right: 10px;
  height: 50px;
}
.explore{
  color: black;
  background-color: white !important;
}
.install{
  background-color: #121212 !important;
  color: white !important;
}
.profile{
  background-color: #121212 !important;
  border: none;
  width: 50px;
}
/* navi ends */

/* right scroll begins */
.right-scroll{
  height: 100%;
  overflow-y:scroll;
  color: white;
  padding: 30px;
  /* border: 5px solid pink; */
  background-color: #121212;
  border-radius: 10px;
}
.fav-cards{
  height: 300px;
}
.fcards{
  color: white;
  width: 100%;

}
.fcard1{
  height: 150px;
  /* border: 3px solid ; */
  display: flex;
  align-items: center;
  background-color: #2b2930;
  margin: 10px;
  position: relative;
  overflow: hidden;

}
.fcard1>img{
  height: 100%;
}
.fcard-text{
  font-weight: bold;
  margin-left: 60px;
  font-size: 20px;
}


.play-btn{
  height: 70% !important;
  z-index: 1;
  position: absolute;
  right: 0;
  box-shadow: 0 10px 20px black;
  border-radius: 50%;
  display: none;
}
.play-btn1{
  z-index: 1;
  height: 80px;
  width: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  box-shadow: 0 10px 20px black;
  border-radius: 50%;
}
.made{
  margin-top: 50px !important;
  margin-bottom: 30px !important;
}


.playlist-link{
  text-decoration: none;
  color: white;
}
.made>div>a{
  font-weight: bold;
  color: #aeaeae !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.my-cards{
  /* border: 3px solid white; */
  height: 35vh;
}
.card1{
  background-color: #2b2930;
  border-radius: 5%;
  overflow: hidden;
}
.my-cards>.card1>div>img{
  height: 100%;
}
.card1-div1{
  height: 70%;
  margin-bottom: 10px;
  position: relative;
}
.card1>div>p{
  color: #9f9f9f;
}
/* right scroll done */

.lib-card:hover,.butns>button:hover,.fcard1:hover,.card1:hover{
background-color: #7d7d7d49;
}
.fcard1:hover .play-btn{
  cursor: pointer;
  display: block;

}
.card1:hover{
  cursor: pointer;
}
.card1:hover .play-btn1{
  display: block;
}
img:hover,i:hover,svg:hover{
  cursor: pointer;
}

/* playlist */
.right2-scroll{
  height: 100%;
  overflow-y:scroll;
  color: white;
  /* padding: 30px; */
  /* border: 5px solid pink; */
  background-color: #121212;
  border-radius: 10px;
}
.pop{
  /* border: 3px solid white; */
  height: auto;
  background: linear-gradient(180deg, #90AEA7 0%, #000 89.7%);
}
.pop-cover{
  margin-top: 60px;
}
.pop-text{
  margin-top: 120px;
  /* border: 3px solid pink; */
  height: 200px;
  width: 100%;
  color: white;
}
.pop1{
  font-size: 13px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}
.pop2{
  font-size: 80px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}
.symbols{
  margin-left: 30px;
}
.symbol-play{
  height: 100px;
}
.symbols>div>img{
  margin-right: 30px;
}

.items{

  margin-left: 50px;
  width: 90%;
  height: 54px;
  /* background: red; */
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
}
.items1{
  width: 10%;
}
.items>img{
  height: 50px;
  width: 50px;
}
.contain-item{
  gap: 10px;
}
.items:hover{
  background-color: #2b2930;
}
/* playlist */


.player{
  /* border: 3px solid greenyellow; */
  background-color: black;
  position: sticky;
  width: 100%;
  height: 110px;
  padding-left: 20px;
  padding-right: 60px;
  overflow: hidden;
}
.sang{
  color: white;
  gap: 17px;
}
.play-icons{
  color: white;
}
.audio2{
  gap: 10px;
}
.audio1{
  gap: 17px;
  align-items: center;
}
.bar1{
  margin-top: 10px;
  width: 511px;
  height: 5px; 
  flex-shrink: 0;
  border-radius: 2.5px;
  background: #C4C4C4;
}
.bar2{
  margin-top: 10px;
  width: 50px;
  height: 5px;
  flex-shrink: 0;
  border-radius: 2.5px;
  background: #535353;
}
